*{
  box-sizing: border-box;
  text-decoration: none;
  padding: 0;
  margin: 0;
}
:root {
  /* Login-Root */
  --Login-heading-color: #EE252D; 
  --Login-heading-size:34px;  
  --Login-input-font-size:18px;
  --Login-logo-font-size:350px;
}
.App {
  /* text-align: center; */
}

@media(max-width:400px){
  :root {
    /* Login-Root */
    --Login-heading-size:28px;  
  }
}