*{
  box-sizing: border-box;
  text-decoration: none;
  padding: 0;
  margin: 0;
}
:root {
  /* Login-Root */
  --Login-heading-color: #EE252D; 
  --Login-heading-size:34px;  
  --Login-input-font-size:18px;
  --Login-logo-font-size:350px;

  /* Sidebar-Root */
  --Sidebar-background-color: #f05658;
  --Sidebar-text-color:#fff;
  --Sidebar-link-hover-color:#c04446;
  --Sidebar-link-active-color:#903334;
  --Sidebarlogo-font-size:30px;
  --Sidebar-bar-font-size:20px;
  --Sidebar-link-icon-text-font-size:20px;




}


.App {
  /* text-align: center; */
  overflow: hidden;
}

@media(max-width:400px){
  :root {
    /* Login-Root */
    --Login-heading-size:28px;  
  }
}